<!DOCTYPE html>
<html lang="en" ng-app="nunki">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/nunki-components.css" />
    <link rel="stylesheet" type="text/css" href="css/nunki-styles.css" />
    <title>Nunki Widget</title>
</head>
<body>

<div flex layout="collum" style="z-index:1">
  <div ng-controller="gridWidgetCtrl" flex>
    <md-grid-list
            md-cols-sm="1"
            md-cols-md="2"
            md-cols-gt-md="6"
            md-row-height-gt-md="1:1"
            md-row-height="4:3"
            md-gutter="8px"
            md-gutter-gt-sm="4px" >
        <md-grid-tile ng-repeat="tile in tiles"
                      md-rowspan="{{tile.span.row}}"
                      md-colspan="{{tile.span.col}}"
                      md-colspan-sm="1">
            <div class="grow pic">
                  <img ng-src="{{tile.image}}" ng-click="embedOpen(tile.Link)"><br/>
            </div>
            <md-grid-tile-footer><h3>{{tile.author}}</h3></md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
  </div>
</div>

<div ng-controller="gridWidgetCtrl" class="md-padding dialogdemoBasicUsage">
  <div class="dialog-demo-content" layout="row" layout-wrap="">
    <md-button class="md-primary md-raised" ng-click="widgetVtwoOpen()" flex="" flex-md="100">
      Widget v2
    </md-button>
  </div>
  <div ng-if="alert">
    <br>
    <b layout="row" layout-align="center center" class="md-padding">
      {{results.author}}
    </b>
  </div>
<!--<script type="text/ng-template" id="dialog1.tmpl.html"><md-dialog aria-label="">-->
</script>
</div>


<!--  <div ng-repeat="result in results">
  <md-whiteframe class="md-whiteframe-z3 demo-swipe" layout="" layout-align="center center" md-swipe-left="embedOpen(result.platformMediaLink)">
      <img src="{{result.thumbImageLink}}">
      <span class="no-select">{{result.author}}</span>
  </md-whiteframe>

</div>-->

<footer>
    <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
    <script src="js/nunki-components.js"></script>
    <script src="js/nunki.js"></script>
</footer>
</body>

</html>
